#main-box {
  width: 859px;
  height: 100%;
  background-image: url(./images/dungeon-door.jpeg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  background-color: darkslategray;
}

#picture {
  max-width: 861px;
  height: 500px;
  border: solid 1px white;
  top: 20%;
  margin: 0 auto;
}
#text-content {
  margin-top: 20px;
  padding: 20px;
  width: 860px;
  border: 1px solid white;
  background: #0c1a36;
  margin: 20px auto;
  color: white;
  font-size: large;
}
#health-bar {
  border: solid 1px black;
}
#text-description {
  margin-top: 5px;
}
p {
  border: 1px solid white;
}
button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#atkbtn {
  border: 0;
  /* background: url("./images/dice.gif") no-repeat; */

  /* height: 50px;
  width: 50px; */
}
.fas fa-dice-six {
  height: 50px;
  width: 50px;
}
h1 {
  text-align: center;
  color: white;
}
