#main-box {
  width: 859px;
  height: 100%;
  background-image: url(./images/dungeon-door.jpeg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  box-sizing: border-box;
  font-family: "Fondamento", cursive;
  background-color: darkslategray;
  text-align: center;
}

#picture {
  max-width: 861px;
  height: 500px;
  border: solid 1px white;
  top: 20%;
  margin: 0 auto;
}
#text-content {
  margin-top: 20px;
  padding: 20px;
  width: 860px;
  border: 1px solid white;
  background: #0c1a36;
  opacity: 0.7;
  margin: 20px auto;
  color: white;
  font-size: large;
}
#health-bar {
  border: solid 1px black;
}
#text-description {
  margin-top: 5px;
}
p {
  border: 1px solid white;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
#atkbtn {
  border: 0;
}
.fas fa-dice-six {
  height: 50px;
  width: 50px;
}
h1 {
  text-align: center;
  color: white;
}
b {
  color: #301658;
}
.item {
  color: red;
}

.green {
  color: rgb(13, 211, 13);
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.location {
  color: goldenrod;
  font-weight: bold;
}
.ennemy {
  color: black;
  font-weight: bold;
}
